.App {
  width: 100vw;
  background-color: #f6f6f6;
}

.title {
  height: 20vh;

  display: flex;
  align-items: center;

  font-weight: bold;
}

.row-style {
  margin-right: "5%";
  margin-left: "5%";
  justify-content: space-around;
}
